html .mceContentBody {
	max-width: 790px;
}
* {
	color: inherit;
	font: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: inherit;
	font-weight: inherit;
}
body {
	color: #333;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {margin: 10px 0;font-family: inherit;font-weight: bold;}
h1 {font-family:'Source Sans Pro', sans-serif;font-size:38px;color:#524C52;margin:0px 0px 20px 0px;}
h2 {font-size:30px;}
h3 {font-size:24.5px;line-height:40px;}
h4 {font-size:17.5px;line-height:20px;}
h5 {font-size:14px;line-height:20px;}
h6 {font-size:11.9px;line-height:20px;}
p {margin:15px 0px;}
pre {background:#FCFCFC;border: 1px solid rgba(0, 0, 0, 0.15);}
blockquote {border-left:5px solid #E3E3E3;padding: 0 0 0 15px;margin: 0 0 20px;}
blockquote p {font-size: 17.5px;font-weight: 300;line-height: 1.25;}
em {font-style:italic;}
b, strong {font-weight:bold;}

